section {

  display: flex;
  align-items: center;
  justify-content: center;
}

section ul {
  list-style: none;
}

.container-list {

  margin-top: 20px;
  width: 600px;
  background-color: #1d1c24;
  padding: 12px;
 
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-list h1 {
  font-size: 25px;
} 

.container-list span {
  color: #666;
  text-align: center;
  margin: 20px 0;
  font-style: italic;
}

.title-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* background: #21183d; */

  border-radius: 20px;
  min-width: 100%;
  
  align-items: center;

  padding: 15px 10px;
}

.title-icons svg, .icons-edit svg {
  color: #eee;
  cursor: pointer;
  transition: 0.9s color;
}

.title-icons svg:hover {
  color: rgb(187, 68, 68);
}

.icons-edit svg:hover {
  color: rgb(222, 231, 96);
}
.icons-edit {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 0 15px 10px 10px;
}

.add-task {
  margin-top: 20px;
  width: 200px;
  height: 60px;
  background: #04d361;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  box-shadow:  0 0 10px #04d361, 0 0 40px #04d361, 0 0 80px #04d361;
  font-weight: bold;

  transition: 0.5s font-size;
}

.add-task:hover {
  font-size: 18px;
}


/* CSS confirm delete task */

.button-off {
  background-color: transparent;
  border: none;
}

.swal-overlay {
  background-color: rgba(27, 23, 31, 0.562);
}

.swal-modal {
  background-color: #1d1c24;
  border-radius: 20px;
  width: 400px;
}

.swal-title {
  font-weight: bold;
  color: #eee;
}

.swal-text {
  color: #eee;
}

.swal-button {
  background-color: #04d361;
  border: none;
}